<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <header>
      <div class="logo_restauran">
        <h3>My Resto</h3>
      </div>
      <a id="menu_button" class="menu_button_style" href="#">☰</a>
  </header>

  <nav id="drawer_element">
    <ul>
      <li><a tabindex="0" href="">Home</a></li>
      <li><a tabindex="0" href="#">Favorite</a></li>
      <li><a tabindex="0" target="_blank" href="https://github.com/IhratPramudya">About Us</a></li>
    </ul>
  </nav>
  
  <main>
    <div  tabindex="0" class="hero">
      <div class="hero__inline">
        <h2 class="hero_title">Nikmati Asikmu Bersama My Resto Dengan Keanegaragaman Kuliner</h2>
        <p class="hero__tagline">banyak kuliner seru dan enak buat di santap di pingir pantai nikmati suasana yang hakiki</p>
      </div>
    </div>
      <section class="content_resto">
          <div class="resto_explor">
            <h2 class="title_explor">My Restaurant</h2>
          </div>

          <div class="list_resto">
              <div class="list_item_resto">
                
              </div>
          </div>
      </section>
  </main>

  <footer tabindex="0">
      <p>&copy; 2022 By Ihrat Pramudya</p>
  </footer>
 
</body>
</html>
